<h1>Login</h1>

<% form_tag url(:sessions, :create) do %>
  <% if error %>
    <div class="alert alert-error">
      <h4>Error</h4>
      Your Email and/or Password is wrong!
    </div>
  <% end %>

    <% if notconfirmation %>
        <div class="alert alert-error">
          <h4>User not confirmed</h4>
          Please check your email and click for confirmation link.
        </div>
    <% end %>

  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>


  <p>
    <%= submit_tag "Sign in", :class => "btn btn-primary" %>
  </p>
<% end %>

New on this platform? <%= link_to 'Register', url(:users, :new) %>

